* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    /* background-color: #e0e0e0d0; */
    /* background-color: pink; */
    min-height: 100vh;
    position: relative;
}
/* ------------------------------------------------------------------------------------------------ */
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid rgba(0,0,0, 0.5);
    background-color: red;
}

/* .middle{
    background-color: brown;
} */

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffa726; */
}

.searching{
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    border-bottom: 4px solid black;
    /* background-color: aquamarine; */
}

.right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: aqua; */
}
/* -- Darkmode Switch ------------------------------------------------------------------------------- */
/* .turn_dark{
    width: 45px;
    padding-top: 3px;
    background-color: blueviolet;
    cursor: pointer;
    margin-right: 25px;
} */
 /* From Uiverse.io by Galahhad */ 
/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .turn_dark_slider {
    margin-top: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .turn_dark_slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .turn_dark_slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .ui-switch input:checked+.turn_dark_slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  }
  
  .ui-switch input:active+.turn_dark_slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }
/* ---------------------------------------------------------------------------------- */
/* .footer{
    width: 100%;
    background-color: rgb(152, 152, 152);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 10px;
    animation: fadeIn 0.5s;
} */

.login_Button{
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;

    /* margin-right: 10px; */
    font-size: 30px;
    transition: background-color 0.3s;
}

.login_Button:hover {
    background-color: rgb(178, 0, 0);
  }

.container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color: aqua; */
    width: 100%;
}

.logo_class{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
}

.logo{
    width: 40%;
    min-width: 350px;
    cursor: pointer;
    /* background-color: yellowgreen;
    margin-bottom: 30px; */
}

.image_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

/* display:flex; flex-direction:row; flex-wrap:wrap*/
.main-images, .popup-content { 
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px; /* Adjust space between icons as needed */
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* border-top: 2px solid black; */
    /* background-color: yellow; */
  }

.main-images img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 10px;
    /* background-color: brown; */
    transition: transform 0.5s;
}

.main-images img:hover{
    transform: scale(1.3);
}

.image-wrapper, .link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: burlywood; */
}

.image-label, .link-label {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.add-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: #ffa726; */
}

.link-name, .link-url, .btn-add-link{
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 40px;
}
.btn-add-link{
    transition: transform 0.5s;
}
.btn-add-link:hover{
    transform: scale(1.1);
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5; 
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
}

.popup-content{
    background: #ffff;
    border-radius: 15px;
    padding: 3%;
    width: auto;
    height: auto;
    position: relative;
    gap: 20px;
}
.popup img{
    width: 90px;
    height: 90px;
}

.link-image{
    width: 60px;
    cursor: pointer;
    transition: transform 0.5s;
}

.link-image:hover{
    transform: scale(1.1);
}
/* ------------------------------------------------------------------------------------------------ */
.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.5s;
}

.close-button:hover{
    color: red;
    transform: scale(1.3);
}
/* ------------------------------------------------------------------------------------------------ */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.calendar-view {
    margin-bottom: 20px;
}

.event-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event-form input, .event-form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.event-form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.event-form button:hover {
    background-color: #45a049;
}
/* ------------------------------------------------------------------------------------------------ */
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@media screen and (max-width: 800px) {
    .searching{
        width: 600px;
    }

    .main-images, .popup-content{
        /* border: none; */
        width: 80%;
        /* background-color: #d32f2f; */
    }
    /* .logo{
        border-bottom: 3px solid black;
    } */
    .main-images img{
        width: 50px;
        height: 50px;
        /* background-color: #d32f2f; */
    }
    .popup-content{
        width: 300px;
    }
    .popup img{
        width: 60px;
        height: 60px;
    }
    .image-label, .link-label {
        font-size: 12px;
    }
    /* .btn-add-link{
        padding: 5%;
    } */
    /* .login_Button{
        padding: 0px;
        padding-right: 30px;
        padding-left: 30px;
    } */
    /* .turn_dark{
        width: 20px;
        
    } */
  }
/* ------------------------------------------------------------------------------------------------ */
.favorite-btn {
    padding: 5px 10px;
    background-color: #f44336; /* Rot für "Entfernen" */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
}

.favorite-btn:hover {
    background-color: #d32f2f; /* Dunkleres Rot bei Hover */
}

.favorite-btn.disabled {
    background-color: #d3d3d3; /* Grau für deaktivierte Buttons */
    cursor: not-allowed;
    color: #777;
}

.favorite-btn.disabled:hover {
    background-color: #d3d3d3; /* Keine Änderung bei Hover */
}
/* ------------------------------------------------------------------------------------------------ */
/* Container für "Eigene Links" */
#own-links-container .link-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#own-links-container .link-wrapper img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    /* background-color: #cc0000; */
    cursor: pointer;
}

#own-links-container .link-wrapper .link-label {
    flex-grow: 1;
    font-size: 16px;
}

#own-links-container .link-wrapper .remove-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

#own-links-container .link-wrapper .remove-btn:hover {
    background-color: #cc0000;
}
/* ------------------------------------------------------------------------------------------------ */
/* Hintergrund- und Textfarben im Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

/* Popup-Fenster im Dark Mode */
body.dark-mode .popup-content {
    background-color: #222;
    color: #fff;
}

/* Navigationsleiste im Dark Mode */
body.dark-mode .nav {
    background-color: #1e1e1e;
}

body.dark-mode p{
    color: #dbdbdb;
}

body.dark-mode .clickable-image{
    filter: invert(0.4) brightness(2);
}
body.dark-mode .link-image{
    filter: invert(0.4) brightness(2);
}

/* body.dark-mode .turn_dark{
    width: 10%;
    padding-bottom: 3px;
} */

body.dark-mode .login_Button{
    background-color: transparent;
}